/.sonar
/__mocks__
/config
/lib/demo
/public
/sonar-scanner
/node_modules
/npm-packages-offline-cache
/src
/coverage
.babelrc
.eslintrc
.gitignore
.idea
.vscode
.yarnrc
82.fpr
package-lock.json
sonar-project.properties
yarn.lock

