@media screen and (min-width: 0px) {
  .sidebar-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.2s;
    margin-top: 77px;
    z-index: 10001 !important;
  }

  .sidebar-nav-open{
    width: 100%;
  }

  .sidebar-nav-close{
    width: 0;
  }

  .sidebar-nav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar-nav a:hover {
    color: #f1f1f1;
  }

  .sidebar-nav .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 640px) {
  .sidebar-nav {
    margin-top: 56px;
  }

  .sidebar-nav-open{
    width: 300px;
    -webkit-box-shadow: -2px 1px 8px #e2e8ee;
    box-shadow: -2px 1px 8px #e2e8ee;
  }
}

@media screen and (min-width: 1200px) {

}